*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	height: 100vh;
	width: 100%;
	background-image: url(JBL.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.navbar {
	width: 88%;
	margin: auto;
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.logo {
	width: 140px;
	cursor: pointer;
}
.navbar ul li {
	list-style:none;
	display: inline-block;
	margin: 0 15px;

}

.navbar ul li a{
	text-decoration: none;
	color: #FF715B;
	font-size: 15px;
}

.content{
	color:#FF715B;
	width: 100%;
	position: absolute;
	top: 30%;
}
.left-col {
	margin-left: 6%;

}

.left-col h1{
	font-size: 90px;
	color: #FF715B;
	line-height: 110px;
	float: left;

}

.right-col {
	float: right;
	margin-right: 6%;
	margin-top: 120px;
	display: flex;
	align-items: center;
}

.right-col img{
	padding-right: 100px;

}
.right-col {
	font-size: 18px;
	color: #FF715B;
	font-weight: 400;
	margin-right: 15px;
}

#icon{
	width: 180px;
	cursor: pointer;

}

